#frmAddBook label.error, #frmEditBook label.error, #frmAddAuthor label.error{
    color:red;
}

.owt-layout{
        text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 25%;
    margin-left: 10px;
}